{% extends 'base.html.twig' %}

{% block title %}Nouveau GooDeal{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/addGoodeal.css">
{% endblock %}

{% block body %}
    {{ form_start(formGD) }}
        {{ form_widget(formGD) }}
        <button type="submit" class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(formGD) }}
{% endblock %}
